.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Ren: Event List - Feel free to adjust it later */
#event-list {
  padding: 20px;
}

.event {
  padding: 8px;
  margin: 10px 5px 10px 5px;
  border: 2px solid black;
  border-width: 1px 1px 0px 1px;
  border-radius: 10px;
  background-color: #54f6ff;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.event_summary {
  width: 280px;
}
.event_date {
  color: #832296;
}
.details {
  text-align: center;
  padding: 15px;
  margin: -14px 5px 10px 5px;
  background-color: #b8fbff;
  border: 2px solid black;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 10px 10px 10px;
}
/* Ren: https://css3buttongenerator.com/ */
.showDetailsButton {
  height: 40px;
  background: #f6ff47;
  background-image: -webkit-linear-gradient(top, #f6ff47, #c9c200);
  background-image: -moz-linear-gradient(top, #f6ff47, #c9c200);
  background-image: -ms-linear-gradient(top, #f6ff47, #c9c200);
  background-image: -o-linear-gradient(top, #f6ff47, #c9c200);
  background-image: linear-gradient(to bottom, #f6ff47, #c9c200);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.showDetailsButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
